<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}">
    <title>New Task</title>
</head>
<body>
    <div class="container">
        <h1>Enter task details</h1>
        <form method="post">
            Description : <input type="text" name="course name">
            <input type="submit" class="btn btn-success">
        </form>

    </div>




    <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>

</body>
</html>