<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}">
    <title>Task Manager</title>
</head>
<body>
<div class="container">
    <h1>List of tasks</h1>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Teacher's Name</th>
            <th>Course Name</th>
            <th>Target Date</th>
            <th>Completed?</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.id}"></td>
            <td th:text="${task.name}"></td>
            <td th:text="${task.description}"></td>
            <td th:text="${task.targetDate}"></td>
            <td th:text="${task.done}"></td>
            <td><a th:href="@{/delete-task(id=${task.id})}" class="btn btn-warning">Delete</a> </td>
        </tr>
        </tbody>
    </table>
    <a href="/add-task" class="btn btn-success">Add a new task</a>
</div>

<script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>

</body>
</html>